<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Title</th>
      <th>Date</th>
      <th>note</th>
    </tr>
  </thead>
  <tbody></tbody>
<% @houseworks. each do |t| %>
  <p><%= t.housework %></p>
  
  </tr>
<% end %> 
</thead>
</table>