<h1> <@familly.name>家の家事リスト</h1>

  <% @houseworks.each do |housework| %>
  <%= housework.title %>
  <% end %>
   </div>
   <%= link_to "編集", "#" %>
   <% #edit_housework_path(@housework.id) %>
    <%= link_to "削除", "#" %>
   <% #housework_path(@housework.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
 <%= link_to "登録" , new_housework_path %>