<h1>家族一覧</h1>
 <% @family_users.each do |family_users| %>
  <p><%= family_users.name%></p>
 <% end %>
 
   <%= link_to "招待する" , edit_family_url(@family) %>
   <%= link_to "家族掲示板へ" , new_family_familyboard_path(@family) %>
   <%= link_to "家事へ" , new_family_housework_path(@family) %>