 <div class="box">
  <div class="box-inner">
 ユーザー情報を載せたい
  @user = User.find(params[:id])
  <div class="box-submit">
    <div class='text-center'>
    <%= link_to '戻る', new_user_path %>
  　</div>
  </div>
  </div>
  </div>